# Build script
# project files and Resources should not be checked in
proj.ios_mac/
proj.android/
proj.linux/
Resources/
CMakeLists.txt
CMakeLists.txt.user

# Div
.DS_Store

## Build 
build/
bin/
.build/
linux-build/
vendor/
.idea/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

#vscode
/Classes/.vscode/*

# Ignore generated Doxygen
doxygen/Docs/html/*
